
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutEPortal.cshtml";
}
<script src="~/Scripts/PageJS/AcademicYear.js"></script>
<script src="~/Scripts/Tree/tree.min.js"></script>
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>School Setup</title>

</head>

<div>

    <div class="row showing" style="margin-top: 5%; border: 1px solid #CCC; min-height: 10%; margin-right: 4%;">
        <div class="col-md-6">
            <h2><i class="fa fa-hand-o-right"></i> Academic Year</h2>
        </div>
        <div class="col-md-1 col-sm-1">

        </div>
        <div class="col-md-1 col-sm-1">
            <input type="button" value="Publish" class="btn" ng-disabled="EnableDisable()" ng-click="MakeObjectEMpty()" ng-if="!ShowTree" />
        </div>
        <div class="col-md-1 col-sm-1">
            <input type="button" value="Configure" class="btn" ng-click="ConfigureAcYear()" ng-disabled="EnableDisable()" ng-if="!ShowTree" />
        </div>
        <div class="col-md-1 col-sm-1">
            <input type="button" value="Lock" class="btn" ng-if="!ShowTree" ng-disabled="EnableDisable()" />
            <input type="button" value="Save" class="btn" ng-click="GetSelectedNode()" ng-if="ShowTree" />
        </div>
        <div class="col-md-1 col-sm-1">
            <input type="button" value="Create Academic Year" class="btn"  ng-click="MakeObjectEMpty()" ng-if="!ShowTree" />
            <input type="button" value="Cancel" class="btn" ng-if="ShowTree"  ng-click="CancelSaveAcConfig()"/>
        </div>
    </div>
    <div class="row topmarginmap" ng-if="!ShowTree">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <input type="text" class="pull-right form-control" ng-model="searchText" placeholder="Search" id="searchtextbox" />
        </div>
    </div>
    <div class="ngGridStyle" ng-grid="myGrid" style="margin-top: 1%;" ng-show="myData.length" ng-if="!ShowTree"></div>
    <div class="watermark" ng-show="!myData.length" style="margin-top: 5%;" ng-if="!ShowTree">
        <i class="fa fa-thumbs-o-down"></i>No data available
    </div>
    <div style="margin-top: 5%;" ng-if="ShowTree">
        <div id="Tree">

        </div>
    </div>



    <div class="modal fade bs-example-modal-sm" id="AcademicYearModel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-lg" style="width: 67%;margin-left: 18%;margin-top: 2%;">
            <div class="col-md-12 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{NewAcademicYear.Operation}} AcademicYear</strong>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 downmargin">
                                <span style="color:red;">* Marked are mendatory field.</span>
                            </div>
                        </div>
                        <div class="row bottom">


                            <div class="col-md-12 col-lg-12 ">
                                <div class="row downmargin">
                                    <div class="col-md-2">

                                        <spna>Code *</spna>

                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" ng-model="NewAcademicYear.Code">
                                    </div>
                                    <div class="col-md-2">

                                        <spna>Name *</spna>

                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" ng-model="NewAcademicYear.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 ">
                                <div class="row downmargin">
                                    <div class="col-md-2">

                                        <spna>From *</spna>

                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="AcademicYearFrom" datepicker ng-model="NewAcademicYear.AcademicYearFrom">
                                    </div>
                                    <div class="col-md-2">

                                        <spna>To *</spna>

                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="AcademicYearTo" datepicker ng-model="NewAcademicYear.AcademicYearTo">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-10 col-sm-2">
                                <button type="submit" class="btn btn-success btn-md Shading" ng-click="SaveAcademicYear()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  
</script>
