@model EPortal.Models.UserInfo

<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-School</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CssfIle/util.css" rel="stylesheet" />
    <link href="~/Content/CssfIle/main.css" rel="stylesheet" />

</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>
                @Html.Label("StudentName", Model.ErrorMsg)                

                @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "login100-form" }))
                {



                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        @Html.TextBoxFor(m => m.LogInId, new { @placeholder = "Username",@class="input100" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @Html.PasswordFor(m => m.UserPassword, new { @placeholder = "Password" , @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Organization</span>
                        @Html.TextBoxFor(m => m.OrganizationName, new { @placeholder = "Organization", @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100">
                           
                            <label class="label" for="ckb1">
                               
                            </label>
                        </div>

                        <div>
                            <a href="/Home/UserLostPassword" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <input type="submit" name="commit" value="Log in" id="submitbtn" class="btn btn-success submit">
                    </div>
                }
            </div>
        </div>
    </div>





</body>
</html>