@model EPortal.Models.UserInfo

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login to Access</title>
    <link href="~/Content/Login Css/style.css" rel="stylesheet" />
    @*<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/custom.min.css" rel="stylesheet" />



     @*virtual keyboard*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    <style>
        input[type=submit] {

                border-radius: 0px;
        }

    </style>

</head>
<body>
    <section class="container">

        <div style="text-align:center;color:red;font-size:21px;">            
            @Html.Label("StudentName",Model.ErrorMsg)

        </div>
        <div class="login">
            <h1>Welcome to Online Assessment</h1>
            @using (Html.BeginForm("LostPasswordCheck", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
                     FormMethod.Post, new { @class = "form-horizontal"}))
            {
                <p>@Html.TextBoxFor(m => m.Email, new { @placeholder = "Username" })</p>             
                <div>                    
                    <div  style="float:right;">
                        <input type="submit" name="commit" value="Log in" id="submitbtn" class="btn btn-default submit">
                    </div>
                </div>
            }
        </div>
        <div class="login-help">
            <div class="clearfix"></div>            
                <div class="clearfix"></div>
                
                <div>
                    <h1>E-Assessment </h1>
                    <p>©2016 All Rights Reserved.E - Assessment - Preparing For Tomorrow</p>
                </div>
            
        </div>
    </section>

    @Html.Hidden("errormsg",Model.ErrorMsg);

</body>
</html>

<script>

    //$(function () {
    //    //$('#LogInId').keyboard();
    //    //$('#UserPassword').keyboard();
    //    //$('#OrganizationName').keyboard();
    //    //$(this).bind("contextmenu", function (e) {
    //    //    e.preventDefault();
    //    //});
    //    if ($("#errormsg").val() == "")
    //    {
    //        $("#StudentName").hide();
    //    }
    //});
   
  

</script>
