
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutEPortal.cshtml";
}
<script src="~/Scripts/PageJS/Section.js"></script>
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>School Setup</title>

</head>

<div>

    <div class="row showing" style="margin-top: 5%; border: 1px solid #CCC; min-height: 10%; margin-right: 4%;">
        <div class="col-md-6">
            <h2><i class="fa fa-hand-o-right"></i> Section</h2>
        </div>
        <div class="col-md-1 col-sm-1">

        </div>
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-1 col-sm-1">

        </div>
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-1 col-sm-1">
            <input type="button" value="Create Section" class="btn" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="MakeObjectEMpty()" />
        </div>
    </div>
    <div class="row topmarginmap">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <input type="text" class="pull-right form-control" ng-model="searchText" placeholder="Search" id="searchtextbox" />
        </div>
    </div>
    <div class="ngGridStyle" ng-grid="myGrid" style="margin-top: 1%;" ng-show="myData.length"></div>
    <div class="watermark" ng-show="!myData.length" style="margin-top: 5%;">
        <i class="fa fa-thumbs-o-down"></i>No data available
    </div>


    <div class="modal fade bs-example-modal-sm" id="SectionModel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-lg" style="width: 47%;margin-left: 25%;margin-top: 2%;">
            <div class="col-md-12 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{NewSection.Operation}} Section</strong>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 downmargin">
                                <span style="color:red;">* marked are mendatory field.</span>
                            </div>
                        </div>
                        <div class="row bottom">
                            

                            <div class="col-md-12 col-lg-12">
                                <div class="row downmargin">
                                    <div class="col-md-2">
                                        <spna>Code *</spna>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" ng-model="NewSection.Code" >
                                    </div>
                                    <div class="col-md-2">

                                        <spna>Name *</spna>

                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" ng-model="NewSection.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-10 col-sm-2">
                                <button type="submit" class="btn btn-success btn-md Shading" ng-click="SaveSection()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#PeriodFrom"), $("#PeriodTo").keypress(function () {
            return false;
        });
    });
</script>
